<h1>환영합니다! QR코드 인증을 하셨군요!
<hr>당신의 QR코드 접속을 환영합니다!, 서버의 콘솔에 환영의 메시지가 찍힐것입니다!</h1>
<ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            
            
        /** 쿼리스트링 함수*/
            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results==null){
                    return null;
                }
                else{
                    return results[1] || 0;
                }
            }
            console.log($.urlParam('nickname'));
        /** 쿼리스트링 함수*/
        
        /**상품의 직플레이스 part_name 값 추출하기.**/
            var index = $('#place').text().indexOf('-');
            var place = $('#place').text().substring(0,index);
            alert(place);
        /**상품의 직플레이스 part_name 값 추출하기.**/

        /**직플레이스 part_name과 상품번호로 해당 직플레이스 파트너의 닉네임값과 거래 상태를 가져오기 위한 ajax 통신.*/
            $.ajax({
            type : 'post',
            url : 'http://39.127.7.47:3000/api/QRpartner',//QRpartner.js
            dataType : 'json',
            data : {     
                place : place,//20~21번라인에서 얻어낸 직플레이스의 part_name이다.
                pro_num : $('#pro_num').text()//75번 라인에서 얻은 거래중인 상품번호이다.
            },
            success : function(result){
                //해당 직플레이스의 직플파트너의 닉네임과 앱에서 로그인한 세션의 닉네임이 동일하다면
                if(result.nickname == $.urlParam('nickname') && result.state == 'success'){
                    alert('QR코드 접속을 환영합니다, 직플파트너 '+ result.nickname + '님');
                    if(result.state_msg == 1){
                        $('#in_pro').style('display:block;');
                    }else if(result.state_msg ==2){
                        $('#out.pro').style('display:block;');
                    }

                    $('#state_msg').text(result.state_msg);
                }
                //쿼리 실행중 에러가 발생한다면
                else if(result.state == 'error'){
                    alert('에러가 발생했습니다.');
                    window.shouldClose = true;
                }
                //쿼리 결과가 0개라면(PARTNER테이블의 part_name에 20~21번 라인에서 얻은 데이터가 없다면)
                else if(result.state == 'false'){
                    alert('해당 직플레이스에 대한 직플파트너 정보가 없습니다.')
                    window.shouldClose = true;
                }
                //해당 직플 거래에 상관없는 직플파트너가 QR스캔을 시도한다면
                else if(result.nickname != $.urlParam('nickname')){
                    alert('해당 상품의 직플파트너가 아닙니다.');
                    window.shouldClose = true;
                }
                //위 4가지 중 해당 사항이 하나도 없다면
                else {
                    alert('그럼 문제가 뭐야' + result);
                    window.shouldClose = true;
                }
            }
        });
        /**직플레이스 part_name과 상품번호로 해당 직플레이스 파트너의 닉네임값과 거래 상태를 가져오기 위한 ajax 통신.*/

        $('#in_pro').click(function(){

        })
        
    
    });
        
    </script>
<hr>
<div style="display:none;" id="state_msg"></div>
<div style="display:none;" id="place"><%=place%></div>
<div style="display:none;" id="pro_num"><%=pro_num%></div>
<li>결제코드 : <%=muid%></li>
<li>IMP : <%=imp%></li><hr>
<li>직플레이스 : <%=place%></li>
<li>카테코드 : <%=cate%></li><hr>
<li>퀄리티 : <%=quality%></li><hr>
<li>카드사 : <%=card_name%></li><hr>
<li>pg_tid : <%=pg_tid%></li><hr>
<li>제목 : <%=title%></li><hr>
<li>여스크로여부 : <%=ascrow%></li><hr>
<li>페이메쏘뜨 : <%=pay_method%></li><hr>
<li>구매자 : <%=buyer_name%></li><hr>
<li>판매자 : <%=seller_name%></li><hr>
<li>생성일 : <%=create_date%></li><hr>
<li>가격 : <%=price%></li><hr>
<li>상품번호 : <%=pro_num%></li><hr>
<button id="in_pro" style="display:none;">상품 입고 승인</button>
<button id="out_pro" style="display:none;">상품 출고 승인</button>
</ul>
