<h1>환영합니다! QR코드 인증을 하셨군요!
    <hr>당신의 QR코드 접속을 환영합니다!, 서버의 콘솔에 환영의 메시지가 찍힐것입니다!</h1>
<ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/socket.js"></script>
    <style>
        .partnerBtnBlue {
            width: 200px;
            height: 150px;
            background-color: #AAAAFF;
            font-size: 45px;
        }

        .partnerBtnRed {
            width: 200px;
            height: 150px;
            background-color: #FF8888;
            font-size: 45px;
        }
    </style>
    <script>
        $(document).ready(function () {
            //타겟토큰.
            let room_id;
            const socket = io();
            var qrToken = function (msg, title, sender, seller, buyer) {
                console.log('qrToken is ready for ' + seller + ' and ' + buyer);
                if (seller != null && buyer != null) {
                    console.log("qrTokens are not null");
                    $.ajax({
                        url: "http://15.164.188.135:3000/api/push/qrToken",
                        dataType: 'json',
                        type: 'POST',
                        data: {
                            seller: seller, //판매자
                            buyer: buyer, //구매자
                            message: msg, //전송메시지
                            title: title, //전송메시지 제목
                            sender: sender
                        }, //발신자
                        success: function () {
                            console.log("토큰전송ok");
                        }
                    });
                } else {
                    console.log("other's token is null");
                }
            }

            /** 쿼리스트링 함수*/
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                }
                else {
                    return results[1] || 0;
                }
            }
            console.log($.urlParam('nickname'));
            /** 쿼리스트링 함수*/



            /**직플레이스 part_name과 상품번호로 해당 직플레이스 파트너의 닉네임값과 거래 상태를 가져오기 위한 ajax 통신.*/
            $.ajax({
                type: 'post',
                url: 'http://15.164.188.135:3000/api/QRpartner',//QRpartner.js
                dataType: 'json',
                data: {
                    pro_num: '<%=pro_num%>', //상품 번호..?       
                    nickname: $.urlParam('nickname')//모바일 로그인세션 닉네임
                },
                success: function (result) {
                    //채팅방넘버불러오기
                    $.ajax({
                    type: 'post',
                    url: 'http://15.164.188.135:3000/api/QRpartner/getRoomid',//QRpartner.js/inAccept
                    dataType: 'json',
                    data: {
                        pro_num: '<%=pro_num%>', //상품 번호의 state_msg를 2로 바꾼다.       
                        seller : '<%=seller_name%>',
                        buyer : '<%=buyer_name%>'
                    },
                    success: function (result) {
                        room_id = result.room_id;
                    },
                    error: function (err) {
                        alert('에러 발생 방번호2' + err, err);
                        console.log(err);
                    }
                    });
                    //채팅방넘버불러오기
                    console.log('result.state_msg : ' + result.state_msg);
                    //해당 직플레이스의 직플파트너의 닉네임과 앱에서 로그인한 세션의 닉네임이 동일하다면
                    if (result.state == 'success') {
                        
                        if (result.state_msg == 1) {
                            //상품 입고단계.
                            //QR코드를 보여주는 회원의 닉네임과 
                            //PAYMENT 테이블에 저장된 판매자의 닉네임이 같아야함. -- 판매자 본인확인.
                            if($.urlParam('Tname') != '<%=seller_name%>'){
                                alert('QR코드의 주인이 해당 거래의 판매자가 아닙니다.');
                                window.shouldClose = true; //창닫기    
                            }else {
                                $('#state_msg1').css('display', 'block');
                            }
                        } else if (result.state_msg == 2) {
                            //상품 출고단계.
                            //QR코드를 보여주는 회원의 닉네임과 
                            //PAYMENT 테이블에 저장된 구매자의 닉네임이 같아야함. -- 구매자 본인확인.
                            if($.urlParam('Tname') != '<%=buyer_name%>'){
                                alert('해당 거래의 구매자가 아닙니다.');
                                window.shouldClose = true; //창닫기    
                            }else {
                                $('#state_msg2').css('display', 'block');
                            }
                        } else if (result.state_msg == 3) {
                            alert('거래가 완료된 상품입니다, 이전 페이지로 이동합니다.');
                            window.shouldClose = true;
                        }
                        $('#state_msg').text(result.state_msg);
                    }
                    //쿼리 실행중 에러가 발생한다면
                    else if (result.state == 'error') {
                        alert('에러가 발생했습니다.');
                        window.shouldClose = true;
                    }
                    //쿼리 결과가 0개라면(PARTNER테이블의 part_name에 20~21번 라인에서 얻은 데이터가 없다면)
                    else if (result.state == 'false') {
                        alert('해당 직플레이스에 대한 직플파트너 정보가 없습니다.')
                        window.shouldClose = true;
                    }
                    //위 3가지 중 해당 사항이 하나도 없다면
                    else {
                        alert('그럼 문제가 뭐야' + result);
                        window.shouldClose = true;
                    }
                }
            });
            /**직플레이스 part_name과 상품번호로 해당 직플레이스 파트너의 닉네임값과 거래 상태를 가져오기 위한 ajax 통신.*/

            $('#in_accept').click(function () {
                if (!confirm('상품을 정말 입고 하시겠습니까?')) { return false; }
                socket.emit('inprod', room_id, '상품이 입고 되었습니다.');
                $.ajax({
                    type: 'post',
                    url: 'http://15.164.188.135:3000/api/QRpartner/accept',//QRpartner.js/inAccept
                    dataType: 'json',
                    data: {
                        pro_num: '<%=pro_num%>', //상품 번호..?       
                        state: 2,
                        room_id : room_id
                    },
                    success: function (result) {
                        console.log('1 승인 성공');
                        qrToken('<%=place%>', '<%=title%>', '직플레이스 입고완료', '<%=seller_name%>', '<%=buyer_name%>');
                        
                        window.shouldClose = true;
                    },
                    error: function (err) {
                        alert('에러 발생' + err, err);
                        console.log(err);
                    }
                });
            });
            $('#in_disaccept').click(function () {
                socket.emit('inprod', room_id, '상품이 입고 거절 되었습니다.');
                window.shouldClose = true;
            });
            $('#out_disaccept').click(function () {
                socket.emit('inprod', room_id, '상품이 출고 거절 되었습니다.');
                window.shouldClose = true;
            });
            $('#out_accept').click(function () {
                
                if (!confirm('상품을 정말 출고 하시겠습니까?')) { return false; }
                socket.emit('inprod', room_id, '상품이 출고 되었습니다.');
                $.ajax({
                    type: 'post',
                    url: 'http://15.164.188.135:3000/api/QRpartner/accept',//QRpartner.js/inAccept
                    dataType: 'json',
                    data: {
                        pro_num: '<%=pro_num%>', //상품 번호의 state_msg를 2로 바꾼다.       
                        state: 3,
                        room_id : room_id
                    },
                    success: function (result) {
                        qrToken('<%=place%>', '<%=title%>', '직플레이스 출고완료', '<%=seller_name%>', '<%=buyer_name%>');
                        
                        console.log('2 승인 성공');
                        window.shouldClose = true;
                    },
                    error: function (err) {
                        alert('에러 발생' + err, err);
                        console.log(err);
                    }
                });

                /*******/
                // // 모든 에스크로 거래 상황 마무리_테스트
                var aaaa = {
                        pro_num: '<%=pro_num%>', //상품 번호의 state_msg를 2로 바꾼다.       
                        seller : '<%=seller_name%>',
                        buyer : '<%=buyer_name%>'
                    }




                    /////

                    var pro_num ='<%=pro_num%>';
                    var seller = '<%=seller_name%>';
                    var buyer = '<%=buyer_name%>';

                   
                    var tag = "<kaka class=''"+seller+"''><span class=''meme "+seller+"'' >" + seller + "</span>님과의 거래는 만족 스러웠나요??<br>" 
        + "더 나은 서비스를 제공하기 위해 서로에 매너 게이지를 측정 해보세요<br>"
        + "<input placeholder=''1~100점'' type=''text'' class=''confirm_test''/> <button class=''jumsu''>전송하기</button></kaka>"
        + "<kaka class=''"+buyer+"''><span class=''otherother "+buyer+"'' >" + buyer + "</span>님과의 거래는 만족 스러웠나요??</br>"
        + "더 나은 서비스를 제공하기 위해 서로에 매너 게이지를 측정 해보세요<br>"
        + "<input placeholder=''1~100점'' type=''text'' class=''confirm_test''/> <button class=''jumsu'' >전송하기</button></kaka>";

                    //var tag = "<ol class=''me''><div><p style=''color:brown; background:none;'' class=''meme''>" + seller + "</p>과의 거래는 만족 스러웠나요??</div><div>더 나은 서비스를 제공하기 위해 서로에 매너 게이지를 측정 해보세요</div><div style=''color:black''><input placeholder=''1~100점'' type=''text'' class=''confirm_test''/> <button class=''jumsu''>전송하기</button></div></ol><ol class=''other''><div><p style=''color:brown;'' class=''otherother''>" + buyer + "</p>과의 거래는 만족 스러웠나요??</div><div>더 나은 서비스를 제공하기 위해 서로에 매너 게이지를 측정 해보세요</div><div style=''color:black''><input placeholder=''1~100점'' type=''text'' class=''confirm_test''/> <button class=''jumsu''>전송하기</button></div></ol>";
                    console.log(pro_num);

                    socket.emit('confirm_test', pro_num, room_id, tag, seller, buyer);

                



            });

            /****/


        });
    </script>
    <hr>
    <div style="display:none;" id="state_msg"></div>
    <div style="display:none;" id="place"><%=place%></div>
    <div style="display:none;" id="pro_num"><%=pro_num%></div>
    <li>결제코드 : <%=muid%></li>
    <li>IMP : <%=imp%></li>
    <hr>
    <li>직플레이스 : <%=place%></li>
    <li>카테코드 : <%=cate%></li>
    <hr>
    <li>퀄리티 : <%=quality%></li>
    <hr>
    <li>카드사 : <%=card_name%></li>
    <hr>
    <li>pg_tid : <%=pg_tid%></li>
    <hr>
    <li>제목 : <%=title%></li>
    <hr>
    <li>여스크로여부 : <%=ascrow%></li>
    <hr>
    <li>페이메쏘뜨 : <%=pay_method%></li>
    <hr>
    <li>구매자 : <%=buyer_name%></li>
    <hr>
    <li>판매자 : <%=seller_name%></li>
    <hr>
    <li>생성일 : <%=create_date%></li>
    <hr>
    <li>가격 : <%=price%></li>
    <hr>
    <li>상품번호 : <%=pro_num%></li>
    <hr>
    <div id='state_msg1' style="display:none;">
        <button id="in_accept" class='partnerBtnBlue'><b>상품 입고 승인</b></button>
        <button id="in_disaccept" class='partnerBtnRed'><b>상품 입고 거절</b></button>
    </div>
    <div id='state_msg2' style="display:none;">
        <button id="out_accept" class='partnerBtnBlue'><b>상품 출고 승인</b></button>
        <button id="out_disaccept" class='partnerBtnRed'><b>상품 출고 거절</b></button>
    </div>
</ul>