<h1>환영합니다! QR코드 인증을 하셨군요!
<hr>당신의 QR코드 접속을 환영합니다!, 서버의 콘솔에 환영의 메시지가 찍힐것입니다!</h1>
<ul>
<hr>
<li>결제코드 : <%=muid%></li>
<li>IMP : <%=imp%></li><hr>
<li>직플레이스 : <%=place%></li>
<li>카테코드 : <%=cate%></li><hr>
<li>퀄리티 : <%=quality%></li><hr>
<li>카드사 : <%=card_name%></li><hr>
<li>pg_tid : <%=pg_tid%></li><hr>
<li>제목 : <%=title%></li><hr>
<li>여스크로여부 : <%=ascrow%></li><hr>
<li>페이메쏘뜨 : <%=pay_method%></li><hr>
<li>구매자 : <%=buyer_name%></li><hr>
<li>판매자 : <%=seller_name%></li><hr>
<li>생성일 : <%=create_date%></li><hr>
<li>가격 : <%=price%></li><hr>
<li>상품번호 : <%=pro_num%></li><hr>
</ul>
