<h1>환영합니다! QR코드 인증을 하셨군요!
<hr>당신의 QR코드 접속을 환영합니다!, 서버의 콘솔에 환영의 메시지가 찍힐것입니다!</h1>
<ul>
        <hr>
<li>판매자 : <%=seller%></li>
<li>구매자 : <%=buyer%></li><hr>
<li>상품번호 : <%=pro_num%></li>
<li>직플레이스 : <%=place_pick%></li>
<li>제목 : <%=title%></li><hr>
<li>내용 : <%=content%></li><hr>
<li>가격 : <%=price%></li><hr>
<li>품질 : <%=p_quality%></li><hr>
<li>분류 : <%=cate_name%></li><hr>
</ul>
