<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
    /* 홀수 row의 색 */
.chat-box .odd {
    background-color: #ecf0f1;
}
 
/* 짝수 row의 색 */
.chat-box .even {
    background-color: #e1e5e5;
}
ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;
  
    max-width: 900px;
    width: 100%;
}
  
ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 20px;
    cursor: pointer;
}
ul.mylist li,
ol.mylist li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
  
ul.mylist li:hover,
ol.mylist li:hover {
    
    background-color: #FFFF;
}
li{
  background-color: #BBffff;

}
    </style>
  </head>
  <body>
    <b><%=nickname%></b> 회원님의 직톡방목록
      
        <% var list = result%>
<!-- [i][0]:room_id, [i][1]:buyer_num, [i][2]:seller_num, [i][3]:pro_num, [i][4]:pro_title, [i][5]:buyer_nickname, [i][6]:seller_nickname  -->
        <%  
          var arr=[];
            var jsonoobj = {};
           list = JSON.parse(list);
            for(var i = 0; i < list.rows.length; i++){
              jsonoobj = {
                  room_id : list.rows[i][0],
                  buyer_num : list.rows[i][1],
                  seller_num : list.rows[i][2],
                  pro_num : list.rows[i][3],
                  room_title : list.rows[i][4],
                  seller : list.rows[i][6],
                  buyer : list.rows[i][5]
              }
              var realJson = JSON.parse(JSON.stringify(jsonoobj));
              arr.push(realJson);
            }
        %>
        
          <ul class="mylist">
            
        <%for(var i =0; i<arr.length;i++){ %>
              <%if(arr[i].buyer == null || arr[i].seller == null){ %>
                <li>No.<%=arr[i].room_id%> 직톡방 : <a href="/roomchat?room_id=<%=arr[i].room_id%>&talker=out&mobile=0">: <%=arr[i].room_title%></a>
                //상대방이 직톡방을 나갔습니다.
              <%} else {%>
                <li>No.<%=arr[i].room_id%> 직톡방 : <a href="/roomchat?room_id=<%=arr[i].room_id%>&talker=in&seller=<%=arr[i].seller%>&buyer=<%=arr[i].buyer%>&pro_num=<%=arr[i].pro_num&mobile=0%>">: <%=arr[i].room_title%></a>
                //구매자 : <%=arr[i].buyer%>, 판매자 : <%=arr[i].seller%>
              <%}%>
        </li>
        <%}%>
      </ul>
  

  </body>
</html>
