<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

    <title>My Address - Mimity</title>
    <title>Document</title>

    <style>
    body{
      font-weight: 500;
      overflow-x:hidden; overflow-y:hidden;
    }

    .white2{
      height: 496px;
      max-height: 100%;
      overflow-x:hidden; overflow-y:auto;
    }

    .INFO{
      margin-bottom: 10px;
    }

    img{
      width: 3rem;
    }

    ul {
      margin-bottom: 0;
    }

    .pb-0, .py-0{
      padding-bottom: 1rem!important;
    }

    .nav-logo {
      color: #007bff;
      font-weight: bolder;
    }
    .right-flot{
      float: right;
    }

    .zic-nick{
      margin-top: 5px;
      margin-bottom: 15px;
      font-weight: 600;

      border-bottom: 1px solid black;
    }

    .realNick{
      font-size: 18px;
      color: #007bff;
      font-weight: bolder;
    }
    .p-2{
      margin-bottom: 10px;
    }
    .p-2:hover{
      background-color: #eee;
    }

    .img-div{
      display: inline-block;
      vertical-align: middle;
    }

    .text-small{
      display: inline-block;
      margin-left: 20px;
      width: 70%;
      vertical-align: middle;
    }
    .text-product{
      
      overflow : hidden;

      text-overflow : ellipsis;

      height : 20px; 

      word-wrap : brek-word; 

      display : -webkit-box;

      -webkit-line-clamp : 1;

      -webkit-box-orient: vertical; 
    }

    .scrollbar-light-blue::-webkit-scrollbar-thumb{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #82B1FF;
    }

    .MemberImg{
      border-radius: 20%;
      width: 60px;
      border: 0.1px solid #007bff;
      height: 60px;
    }
    </style>
</head>
<body>
  <div class="card-body">
      
    <!-- Grid row -->
    <div class="row px-lg-2 px-2">

        <div class="col-md-6 col-xl-4 px-0 INFO">
            <div class="white z-depth-1 px-3 pt-3 pb-0">
              <div class="nav-logo">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"/><path d="M3 6h18m-5 4a4 4 0 0 1-8 0"/></svg>
                  <strong>직거래 PLUS</strong>
                  <strong class="right-flot">직톡목록</strong>
              </div>
            </div>
        </div>
      <!-- Grid column -->
      <div class="col-md-6 col-xl-4 px-0">
        <div class="white z-depth-1 px-3 pt-3 pb-0 white2 .scrollbar-light-blue">
          <ul class="list-unstyled friend-list">

              <div class="zic-nick">
                  <span class="realNick"><%=nickname%></span>
                  님의 거래목록
              </div>
              <% var list = result%>
              <!-- [i][0]:room_id, [i][1]:buyer_num, [i][2]:seller_num, [i][3]:pro_num, [i][4]:pro_title, [i][5]:buyer_nickname, [i][6]:seller_nickname  -->
                      <%  
                        var arr=[];
                          var jsonoobj = {};
                         list = JSON.parse(list);
                          for(var i = 0; i < list.rows.length; i++){
                            jsonoobj = {
                                room_id : list.rows[i][0],
                                buyer_num : list.rows[i][1],
                                seller_num : list.rows[i][2],
                                pro_num : list.rows[i][3],
                                room_title : list.rows[i][4],
                                seller : list.rows[i][6],
                                buyer : list.rows[i][5],
                                img : list.rows[i][7]
                            }
                            var realJson = JSON.parse(JSON.stringify(jsonoobj));
                            arr.push(realJson);
                          }
                      %>
            <!-- 리스트 뷰 -->
            <!-- <li class="active grey lighten-3 p-2">
              <a href="#" class="d-flex justify-content-between">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                <div class="text-small">
                  <strong>John Doe</strong>
                  <p class="last-message text-muted">Hello, Are you there?</p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0">Just now</p>
                  <span class="badge badge-danger float-right">1</span>
                </div>
              </a>
            </li> -->
            <%for(var i =0; i<arr.length;i++){ %>
              
            <li class="p-2">
              <a href="/roomchat?room_id=<%=arr[i].room_id%>&talker=in&seller=<%=arr[i].seller%>&buyer=<%=arr[i].buyer%>&pro_num=<%=arr[i].pro_num%>&mobile=0&nickname=<%=nickname%>">
                <div class="img-div">
                <img class="MemberImg" src="http://39.127.7.47:8080/resources/<%=arr[i].img%>" alt="sunil">
                </div>
                <div class="text-small">
                  <div>
                  <% if(arr[i].seller == nickname){%>
                  <strong><%=arr[i].buyer%> </strong>
                  <%} else { %>
                    <strong><%=arr[i].seller%> </strong>
                  <%} %>
                </div>
                  <div class="text-product">
                  <span class="last-message text-muted">상품명 : <%=arr[i].room_title%></span>
                  </div>
                </div>
                <div class="chat-footer">
                  <span class="text-muted float-right"><i class="fas fa-mail-reply" aria-hidden="true"></i></span>
                </div>
              </a>
            </li>
            <%}%>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    

    </div>
    <!-- Grid row -->

  </div>
</div>
</body>
</html>