<!-- /* socket\room_chat\views\chat.ejs */ -->
<html>

<head>
  <title>JickTalk-Room</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />
  <link rel="stylesheet" href="stylesheets/bootstrap-material-datetimepicker.css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
  <!--<script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>-->
  <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap-material-datetimepicker.js"></script>
  <script src="javascripts/semantic.js"></script>
  <script src="javascripts/qrcode.js"></script>
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>

  <!-- jQuery -->
  <!--결제 모듈-->
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/chat.css" />
</head>

<body>
  <div id='talk'>
    <ul id="messages" class="chat-box">
      <% var list = result%>
      <% var date = datetime
      var jprod = JSON.parse(pro_data);    
      %>
      <div class='hidden_pro' style="display:none;">
        <div id="Hpro_num"><%=jprod.pro_num%></div>
        <div id="Htitle"><%=jprod.title%></div>
        <div id='Hcate'><%=jprod.cate_name%></div>
        <div id='Hcontent'><%=jprod.content%></div>
        <div id="Hprice"><%=jprod.price%></div>
        <div id="Hquality"><%=jprod.p_quality%></div>
        <div id="Hplace"><%=jprod.place_pick%></div>
      </div>

      <!--채빙방 관련 된거-->
      <div id="pro_num" style="display:none;"><%=pro_num%></div>
      <div id="buyer" style="display:none;"><%=buyer%></div>
      <div id="seller" style="display:none;"><%=seller%></div>
      <div id="nickname" style="display:none;"><%=nickname%></div>
      <div id="room_id" style="display:none;"><%=roomid%></div>
      <div id="status" style="display:none;"><%=rstatus%></div>

      <!--메시지 목록 출력 : 약속 시간 , 장소 협의의 발신자와 수신자 구분처리-->
      <%  
  
var subDate;
  var arr=[];
    var jsonoobj = {};
   list = JSON.parse(list);
   
    for(var i = 0; i < list.rows.length; i++){
      jsonoobj = {
          tnickname : list.rows[i][2],
          tmessage : list.rows[i][4]
      }
      if(jsonoobj.tnickname == nickname){//메시지의 발신자와 입장한 사용자가 동일인이라면
        if(jsonoobj.tmessage.indexOf('시간협의') == 0){
          var end = jsonoobj.tmessage.indexOf('</i><br>');
          var start = jsonoobj.tmessage.indexOf("P'>");
          start = start +3;
          subDate = jsonoobj.tmessage.substring(start,end);
          jsonoobj.tmessage = '<i>상대방에게 시간협의를 제안하셨습니다</i><br><i>'+subDate+'</i>';
        } else if(jsonoobj.tmessage.indexOf('장소협의') == 0){
          var end = jsonoobj.tmessage.indexOf('</i><br>');
          var start = jsonoobj.tmessage.indexOf("P'>");
          start = start +3;
          subDate = jsonoobj.tmessage.substring(start,end);
          console.log(subDate);
          console.log(jsonoobj.tmessage.length);
          jsonoobj.tmessage = '<i>상대방에게 장소협의를 제안하셨습니다</i><br><i>'+subDate+'</i>';
        }
      }
      var realJson = JSON.parse(JSON.stringify(jsonoobj));
      arr.push(realJson);
    }
%>
      <div id="pro_data" style="display:none;">
        <ol id='pro_data'>
          <div id='QRhidden'></div>
          판매자 : <%=jprod.seller%> //
          구매자 : <%=jprod.buyer%> //
          상품번호 : <%=jprod.pro_num%>
          <hr>
          제목 : <%=jprod.title%><br>
          분류 : <%=jprod.cate_name%><br>
          내용 : <%=jprod.content%><br>
          가격 : <%=jprod.price%><br>
          품질 : <%=jprod.p_quality%><br>
          <hr>
          직플레이스 : <br><%=jprod.place_pick%><br>
          입금할 가상계좌 : (대구은행) 308-29-80376732-8<br>
          <button class="buy_no">거절</button><button class="payment">결제</button>
          <!--구매자에게만 보이는 이 버튼은 수락버튼 클릭시 결제창이 열리게 되며 에스크로 결제가 진행된다. 결제가 성공적으로 완료되면 서버에 QR코드 생성하라는 신호를 발생시킨다. 이 신호는 채팅방에 전달되며 판매자에게만 보여지게 된다. QR코드는
          명세서 정보가 담긴 쿼리스트링을 포함한 url 데이터이다. 이 QR코드는 판매자에게만 보이게 되며 직플스캐너가 아닌 카메라로 인식시 안내페이지를 반환하게 된다. 
        또한 거래당사자가 아닌 회원이 직플스캐너로 인식시에도 안내페이지를 반환하게 된다. 거래당사자가 인식한다면 거래과정을 진행하게 된다.-->

        </ol>
      </div>

      <%for(var i =0; i<arr.length;i++){ %>
      <%if(arr[i].tnickname == 'System'){%>
      <li class="system"><%=arr[i].tnickname%> : <%-arr[i].tmessage%></li>
      <%} else if(arr[i].tnickname == nickname){%>
      <li class="even"><%=arr[i].tnickname%> : <%-arr[i].tmessage%></li>
      <%} else {%>
      <li class="odd"><%=arr[i].tnickname%> : <%-arr[i].tmessage%></li>
      <%}%>
<%}%>

    </ul>

  </div>
  <div id="input-sets">
    <form action="">
      <input id="m" class="nullmenu" autocomplete="off" />
      <button class="nullmenu">Send</button>
    </form>
    <div class="ui sidebar inverted vertical menu">
      <a class="item menu" id='room_out'>
        채팅방 나가기
      </a>
      <a class="item nullmenu">
        <input type="button" id="set_address"
          style="font-size:15px; width:100%;line-height: 100%;white-space: normal;padding-top: 0px;text-align:left;padding-left: 5px;padding-bottom: 0px;margin-bottom: 0px;"
          class="item form-control floating-label nullmenu " onclick="sample4_execDaumPostcode()"
          value="<%=address%>" />
        <button id="send_address" class="send menu send_addr plus_send"
          style="margin-left:7px; font-weight:bold;">전송</button>
      </a>
      <a class="item nullmenu">
        <input type="text" id="set_date"
          style="font-size:15px; width:100%;white-space: normal;padding-top: 0px;text-align:left;padding-bottom: 0px;margin-bottom: 0px;padding-left: 5.;padding-left: 5px;"
          class="item form-control floating-label nullmenu " style="
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    margin-bottom: 0px;
" value="<%=datetime%>">
        <button id="send_date" class="send menu send_date plus_send"
          style="margin-left:7px; font-weight:bold;">전송</button>
      </a>
      <a class="item nullmenu menu" id='QRsend'>
        QR 영수증 전달
      </a>
      <%if(nickname == seller){%>
      <a class="item nullmenu menu" id='buy'>
        결제 명세서 전송
      </a>
      <%}%>
  
  
</div>
<button id="plusbtn"><b>Menu</b></button>
</div>
<script src="javascripts/socket.js"></script>
<script>
  $(() => {
    var ref = function () {
      $(document).scrollTop($(document).height());
      window.location.reload();
      $(document).scrollTop($(document).height());
    }
    var road_and_QR = function () {
              
              var seller = $('#seller').text();
              var buyer = $('#buyer').text();
              var pro_num = $('#pro_num').text();
              for (var i = 0; i < document.getElementsByClassName("qrcode").length; i++) {
                //var muid = $('.qrcode').text();
                var muid = $(".qrcode")[i].innerHTML;
                console.log(muid);
                var qrcode = new QRCode(document.getElementsByClassName("qrcode")[i], {
                  text: "http://39.127.7.49:3000/testQR?muid=" + muid,
                  width: 350,
                  height: 350,
                  colorDark: "#000000",
                  colorLight: "#ffffff",
                  correctLevel: QRCode.CorrectLevel.H
                });
              }
            }
            road_and_QR();


    var a = $('#status').text();
    $('#set_date').bootstrapMaterialDatePicker({ format: 'YYYY/MM/DD HH:mm', minDate: new Date() });//캘린더 - datePicker를 달아준다.


    if (a == 'out') {
      $('.nullmenu').css("display", "none");
    }
    $('#plusbtn').click(function () {
      $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
    });
    $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    const name = $('#nickname').text();
    const room_id = $('#room_id').text();
    const socket = io();
    let num = room_id;
    let qrCount;
    qrCount = 0;


    // =============================================================
    var IMP = window.IMP; // 생략해도 괜찮습니다.
    IMP.init("imp57701295");

    $(document).on('click', '.payment', function () {

      // IMP.request_pay(param, callback) 호출
      // 결제 코드 uuid 생성
      var merchant_uid = guid();
      function guid() {
        function s4() {
          return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
      }
      IMP.request_pay({ // param
        pay_method: "card",
        escrow: true,
        merchant_uid: merchant_uid,
        name: $('#Htitle').html(), // title
        amount: $('#Hprice').html(),
        buyer_name: $('#buyer').html(),
      }, function (rsp) { // callback
        console.log(rsp);
        if (rsp.success) {

          var msg = '결제 정보 확인 루틴';
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth() + 1; //January is 0!
          var yyyy = today.getFullYear();

          if (dd < 10) {
            dd = '0' + dd
          }

          if (mm < 10) {
            mm = '0' + mm
          }

          today = yyyy + '/' + mm + '/' + dd;
          console.log("투데이 : " + today);


          var buyer_name = rsp.buyer_name;

          var tag2 = "<ol><div class=''qrcode''>"+rsp.merchant_uid+"</div></ol>"
            + "<ol><div class=''receipt_title''>========== 영 수 증 ==========</div></ol>"
            + "<ol><div class=''imp_uid''>가맹점 코드 : " + rsp.imp_uid + "  </div></ol>"
            + "<ol><div class=''merchant_uid''>결제코드 : " + rsp.merchant_uid + " </div></ol>"
            + "<ol><div class=''pro_num''>상품번호 : " + $('#Hpro_num').html() + " </div></ol>"
            + "<ol><div class=''cate_code''>상품 분류 : " + $('#Hcate').html() + " </div></ol>"
            + "<ol><div class=''quality''>상품 품질 : " + $('#Hquality').html() + " </div></ol>"
            + "<ol><div class=''title''>상품이름 : " + rsp.name + " </div></ol>"
            + "<ol><div class=''price''>상품가격 : " + rsp.paid_amount + " </div></ol>"
            + "<ol><div class=''card_name''>카드사 : " + rsp.card_name + " </div></ol>"
            + "<ol><div class=''pg_tid''>카드결제 코드: " + rsp.pg_tid + " </div></ol>"
            + "<ol><div class=''buyer_name''>구매자 : " + rsp.buyer_name + " </div></ol>"
            + "<ol><div class=''seller_name''>판매자 : " + $('#seller').html() + " </div></ol>"
            + "<ol><div class=''place_pick''>직플레이스 : " + $('#Hplace').html() + " </div></ol>"
            + "<ol><div class=''seller_name''>결제날짜 : " + today + " </div></ol>";

          console.log(room_id + '' + buyer_name + '' + tag2);

          //결제 완료후 핑
          socket.emit('receipt', room_id, rsp.buyer_name, tag2);

          jQuery.ajax({
            url: "/payment", //cross-domain error가 발생하지 않도록 주의해주세요
            type: 'POST',
            data: {

              imp_uid: rsp.imp_uid, // 상점 번호
              merchant_uid: rsp.merchant_uid, // 결제 번호
              //기타 필요한 데이터가 있으면 추가 전달
              addr: $('#Hplace').html(), //주소
              cate_code: $('#Hcate').html(), //카테고리
              quality: $('#Hquality').html(), // 상품질
              ascrow: rsp.ascrow, // 에스크로우 여부
              buyer_name: rsp.buyer_name,
              card_name: rsp.card_name,
              pg_tid: rsp.pg_tid,
              pg_type: rsp.payment,
              title: rsp.name,
              seller: $('#seller').html(),
              price: $('#Hprice').html(),
              pro_num: $('#pro_num').html(),
              room_id: $('#room_id').html()

            }

          }).done(function (data) {
            //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
            console.log(data + '...............................................');

            if (everythings_fine) {



            } else {
              //[3] 아직 제대로 결제가 되지 않았습니다.
              //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
            }
          });
        } else {
          alert("실패");
          // 결제 실패 시 로직,

        }
      });
    })

    // =============================================================

    socket.emit('joinRoom', num, name);
    // 일딴 세로 고침
    socket.on('ref', () => {
      window.location.reload();
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });
    // 체팅방을 떠남
    $(window).bind("beforeunload", function (e) {
      socket.emit('leaveRoom', num, name);
    });

    // 결제 완료시 영수증 ========================================================
    socket.on('receipt', function (room_id, buyer_name, tag) {
      window.location.reload();
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });
    // ========================================================

    $('#buy').click(function () {
      var tag = $('#pro_data').html(); // 체팅방에 박혀있는 상품 정보 테그들
      $('#messages').append($('<li class="even">').html(name + ' : ' + tag));//버튼은 상대방에게만 보인다.
      alert(num, name, tag);
      socket.emit('socket_sendAcc', num, name, tag);
    });


    socket.on('socket_sendAcc', (num, name, tag) => {
      if (name == $('#nickname').text()) {

      } else {
        $('#messages').append($('<li class="odd">').html(name + ' : ' + tag));//버튼은 상대방에게만 보인다.
      }
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });

    // 약속장소 잡기 버튼
    $('#send_address').click(function () {
      if ($('#set_address').val() == '약속장소 선정') {
        alert('장소를 지정해 주시기 바랍니다.');
        return false;
      }
      alert($('#set_address').val()); // 고른 시간 한번 알려주고
      var address = $('#set_address').val();
      socket.emit('socket_address', num, address, name); //서버로 전송한다.
    });

    // 
    socket.on('socket_address', (num, address, name, message_id) => {// 상대방으로부터 채팅방에 소켓데이트 신호가 온다면 실행.
      var buttonSet = "<button class='Ayes'>수락</button><button class='Ano' value=" + message_id + ">거절</button>";
      if (name == $('#nickname').text()) {
        $('#messages').append($('<li class="even">').html(name + ' : ' + '<i>상대방에게 장소협의를 제안하셨습니다</i><br><i >' + address + '</i>'));//버튼은 상대방에게만 보인다.
      } else {
        $('#messages').append($('<li class="odd">').html(name + ' : ' + '장소협의 - ' + name + '님에 의해 약속장소가 선정되었습니다 :<br><i class="addressP">' + address + "</i><br>" + buttonSet));//시스템메시지 약속지정정보를 보낸다.
      }
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });
    $(document).on("click", ".Ayes", function (event) {
      alert($(event.target).siblings('.addressP').text());
      var addressP = $(event.target).siblings('.addressP').text();
      alert('약속 :' + addressP + '으로 지정되었습니다.');
      $('#set_address').val(addressP);//제안들중 선택 
      socket.emit('addressYes', addressP, num); //서버로 전송한다.
    });
    $(document).on("click", ".Ano", function (event) {// 거절버튼 클릭시
      var addressP = $(event.target).siblings('.addressP').text();
      message_id = $(event.target).val();
      alert('클릭된 거절버튼의 메시지 아이디' + message_id + '입니다');
      alert('약속제안 (' + $(event.target).siblings('.addressP').text() + ')을 거절하셨습니다.');
      socket.emit('addressNo', addressP, num, message_id); //서버로 전송한다.
    });
    $('#send_date').click(function () {
      if ($('#set_date').val() == '약속시간 선정') {
        alert('날짜를 지정해 주시기 바랍니다.');
        return false;
      }
      alert($('#set_date').val()); // 고른 시간 한번 알려주고
      var date = $('#set_date').val();
      socket.emit('socket_date', num, date, name); //서버로 전송한다.
    });
    //A가 날짜 전송
    //B가 날짜 수신
    //B가 수락버튼 클릭
    //A,B의 DatePicker의 값이 해당 수락된 날짜로 변경.
    socket.on('socket_date', (num, date, name, message_id) => {// 상대방으로부터 채팅방에 소켓데이트 신호가 온다면 실행.
      var buttonSet = "<button class='yes'>수락</button><button class='no' value=" + message_id + ">거절</button>";
      if (name == $('#nickname').text()) {
        $('#messages').append($('<li class="even">').html(name + ' : ' + '<i>상대방에게 시간협의를 제안하셨습니다</i><br><i >' + date + '</i>'));//버튼은 상대방에게만 보인다.
      } else {
        $('#messages').append($('<li class="odd">').html(name + ' : ' + '시간협의 - ' + name + '님에 의해 약속일정이 선정되었습니다 :<i class="dateP">' + date + "</i><br>" + buttonSet));//시스템메시지 약속지정정보를 보낸다.
      }
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });
    $(document).on("click", ".yes", function (event) {
      alert($(event.target).siblings('.dateP').text());
      var dateP = $(event.target).siblings('.dateP').text();
      alert('약속 :' + dateP + '으로 지정되었습니다.');
      $('#set_date').val(dateP);//제안들중 선택 
      socket.emit('dateYes', dateP, num); //서버로 전송한다.
    });
    $(document).on("click", ".no", function (event) {// 거절버튼 클릭시
      var dateP = $(event.target).siblings('.dateP').text();
      message_id = $(event.target).val();
      alert('클릭된 거절버튼의 메시지 아이디' + message_id + '입니다');
      alert('약속일시 제안 (' + $(event.target).siblings('.dateP').text() + ')을 거절하셨습니다.');
      socket.emit('dateNo', dateP, num, message_id); //서버로 전송한다.
    });

    var func_qr = function () {
      return func_qrcount();
    }
    var func_qrcount = function () {
      qrCount++;
      var seller = $('#seller').text();
      var buyer = $('#buyer').text();
      var pro_num = $('#pro_num').text();
      var tag = '<div class="qrcode"></div><h2>명세서</h2><br>판매자 :' + seller + '<hr>구매자 :' + buyer + '<hr>상품번호 :' + pro_num + '<hr><i><small>명세서 상세 내용은 QR코드 인증 후 확인 가능합니다.</small></i>';
      socket.emit('QRsend', num, name, tag); //서버에 내용을 포함한 신호 전송
    }
    socket.on('QRsend', (num1, name1, tag1) => {
      if (name1 == name) {
        $('#messages').append($('<li class="even"><div class="qrcode"></div>'));
      } else {
        $('#messages').append($('<li class="odd"><div class="qrcode"></div>'));
      }
      return ref();
    });

    //1. qr가 들어갈 div를 생성.
    //2. div의 클래스 중 qrcount번째 객체에 qr코드생성
    //3. qrcount++;
    //4. 넘어왔을때. 아니 QR코드화 또한 어떻게 하지. 왜 낫띵클릭하면 메시지 append하잖아 그때 db에 저장을 하자. 단 QR코드 보낼때 생성되어지는 div에 우리가 넣을려고 하는 값들:(구매자판매자상품번호가격등등)도 넣는다.
    $('#QRsend').click(function () {// 아무것도 아닌 추가기능을 실행하면 일단 귀여운 강아지 보여줌 ㅎㅎ
      $('#messages').append($('<li class="even"><div class="qrcode"></div><img src="images/dog4.png" width="300px" height="300px">'));
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
      //socket의 emit()함수가 없어서 전송도 안됨 ㅎㅎ
      return func_qr();
    });
    $('#room_out').click(function () {
      console.log('Room Out // no.' + num + ' room //left user name : ', name);
      if (confirm("채팅내역도 함께 삭제됩니다. 정말 나가시겠습니까?") == true) {    //확인
        socket.emit('room_out', num, name);
        console.log('회원 ' + name + '님이 방나가기 실행을 수락하셨습니다.');
        window.close();
      } else {   //취소
        console.log('회원 ' + name + '님이 탈주 취소하셨습니다!');
        return false;
      }
    });
    socket.on('room_out', (num, name) => {// 소켓에 room_out신호가 온다면
      $('.nullmenu').css("display", "none");//상대방이 없다면 사용불가의 메뉴:입력태그, send버튼, 채팅방나가기를 제외한 추가기능들을 안보이게한다.
      $('#messages').append($('<li class="system">').text('System : ' + name + ' 회원님이 방을 탈주하셨습니다.  '));//시스템메시지 상대방이 나갔다고 알려준다.
      $('#status').text = 'out';//방의 상태를 out으로 지정
      window.location.search = '?room_id=' + num + '&talker=out';//url의 queryString도 나갔다고 바꿔준다. 새로고침이 되어도 out값을 가지기에 .nullMenu들이 여전히 안보여진다.
    });
    var i = 0;
    $('form').submit(() => {// Enter칠때마다 Send 할때마다 실행
      if ($('#m').val() == "") {
        alert('공백을 전송할 수 없습니다.');
        return false;
      } else {
        socket.emit('chat message', num, name, $('#m').val());// 서버로  작성자, 방번호, 메시지를 전달한다.
        $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
        $('#m').val('');//입력창 비워주기
        return false;
      } //원하는 작업만 마친 후 submit의 동작을 멈춘다.
    });
    /* API 좀더 참조해야함. seller_num, buyer_num, room_id, c_address, c_date, pro_num과 pro_num에 해당하는 production 테이블의 모든 컬럼들을 뿌려준다.
    구매자 닉네임, 판매자 닉네임, 가격, 약속장소 또는 지정직플레이스, 약속시간, ,  
    socket.on('chat QR', (name, ) => {// 채팅방테이블의 pro_num, seller_num, buyer_num을 전송한다.???????????????????????????????????
      $('#messages').append($('<li class="even">').text(name + '  :  ' +
        msg));
        
    });*/

    socket.on('chat message', (name, msg) => {// 소켓에 신호가 오면 chat message 기능 실행.
      if (name == $('#nickname').text()) {//날아온 메시지의 이름이 세션의 닉네임과 같다면
        $('#messages').append($('<li class="even">').text(name + '  :  ' +
          msg));
      }//우측에 위치한다. 내가쓴메시지
      else {//아니라면 좌측에 위치한다. 남이쓴메시지
        $('#messages').append($('<li class="odd">').text(name + '  :  ' +
          msg));
      }
      console.log('chat message' + name + msg);
      $(document).scrollTop($(document).height()); // 스크롤 가장아래로 내림
    });
  });
  // 채팅방 전체기능


  //주소
  function sample4_execDaumPostcode() {
    daum.postcode.load(function () {
      new daum.Postcode({
        oncomplete: function (data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
          // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr;
          var roadAddr = data.roadAddress; // 도로명 주소 변수
          var extraRoadAddr = ''; // 참고 항목 변수
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraRoadAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraRoadAddr += (extraRoadAddr !== '' ? ', '
              + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraRoadAddr !== '') {
            extraRoadAddr = ' (' + extraRoadAddr + ')';
          }
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
            addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
          }
          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          //document.getElementById('zip_code').value = data.zonecode;
          //document.getElementById("set_address").value = roadAddr;
          document.getElementById("set_address").value = addr;
        }
      }).open();

    });
  }

</script>

<!--주소-->




<!--아래부터 결제하기 스크립트-->

<!-- .done(function(){ console.log("요청 성공시 호출") })

.fail(function(){ console.log("요청 실패시 호출") })

.always(function(){ console.log("성공 실패 상관없이 호출") }) -->
</body>
</html>