<!-- /* socket\room_chat\views\chat.ejs */ -->
<html>
<head>
    <title>JickTalk-Room</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css"/>
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css"/>
		<link rel="stylesheet" href="stylesheets/bootstrap-material-datetimepicker.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
		<!--<script type="text/javascript" src="https://rawgit.com/FezVrasta/bootstrap-material-design/master/dist/js/material.min.js"></script>-->
		<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-material-datetimepicker.js"></script>
    <script src="javascripts/semantic.js"></script>
    <script src="javascripts/qrcode.js"></script>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>  

  <style>
  
    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-block-end: 0em;
    }

    form input {
      border: 0;
      padding: 10px;
      width: 70%;
      margin-right: .5%;
      margin-left: 10%;
    }
    #plusbtn{
    float:left;
    background: #ffffff;
    padding: 3px;
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 9%;
    margin-block-end: 0em;
    margin-bottom: 5px;
    margin-left: 5px;
}
    form button {
      width: 15%;
      background: #C1E4EC;
      border: none;
      padding: 10px;
    }
    .chat-box {
        display: inline-block;
        color: #34495e;
        margin: 0 0 60px 0;
        width:90%;
    }
 
    .chat-box li {
    display: table;
    padding: 13px;
    margin: 7px 10px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom : 5px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
 
.chat-box .odd {
    background-color: #cfcccd;
    height: auto;
    clear: both;
    float: left;
}

.chat-box .system {
    background-color: black;
    color : white;
    clear: both;
    float: left;
}
 

 
.chat-box .odd:after {
    content: ' ';
    position: relative;
    top: auto;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #cfcccd transparent;
    margin: 0 0 0 -24px;
    float: left;
}
 
 
.chat-box .even {
    background-color: #C1E4EC;
    height: auto;
    clear: both;
    float: right;
}
 
.chat-box .even:after {
    content: ' ';
    position: relative;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #C1E4EC transparent;
    margin: 0 -24px 0 0;
    float: right;
}
 
.chat-box li span {
    padding: 0 0 5px;
    color: #cfcccd;
    display: block;
}

.item {
  font-style : 25px;
}


#talk {
  width:auto;
  height: auto;
}
#input-sets{
  width:auto;
  height: auto;
}
#plusbtn {
  font-size : 10px;
}
#set_address {
  font-size : 15px;
}
.send {
  color : black;
}

  </style>
</head>
<body>
<div id='talk'>
<ul id="messages" class="chat-box">
  <% var list = result%>
  <% var date = datetime%>
  <div id="pro_num" style="display:none;"><%=pro_num%></div>


  <div id="buyer" style="display:none;"><%=buyer%></div>
  <div id="seller" style="display:none;"><%=seller%></div>
  <div id="nickname" style="display:none;"><%=nickname%></div>
  <div id="room_id" style="display:none;"><%=roomid%></div>
  <div id="status" style="display:none;"><%=rstatus%></div>

<%  
  var jprod = JSON.parse(pro_data);
var subDate;
  var arr=[];
    var jsonoobj = {};
   list = JSON.parse(list);
   
    for(var i = 0; i < list.rows.length; i++){
      jsonoobj = {
          tnickname : list.rows[i][2],
          tmessage : list.rows[i][4]
      }


      if(jsonoobj.tnickname == nickname){//ë©”ì‹œì§??˜ ë°œì‹ ??? ?…?¥?•œ ?‚¬?š©?ê°? ?™?¼?¸?´?¼ë©?
        if(jsonoobj.tmessage.indexOf('?‹œê°„í˜‘?˜') == 0){
          var end = jsonoobj.tmessage.indexOf('</i><br>');
          var start = jsonoobj.tmessage.indexOf("P'>");
          start = start +3;
          subDate = jsonoobj.tmessage.substring(start,end);
          jsonoobj.tmessage = '<i>?ƒ??ë°©ì—ê²? ?‹œê°„í˜‘?˜ë¥? ? œ?•ˆ?•˜?…¨?Šµ?‹ˆ?‹¤</i><br><i>'+subDate+'</i>';
        } else if(jsonoobj.tmessage.indexOf('?¥?†Œ?˜‘?˜') == 0){
          var end = jsonoobj.tmessage.indexOf('</i><br>');
          var start = jsonoobj.tmessage.indexOf("P'>");
          start = start +3;
          subDate = jsonoobj.tmessage.substring(start,end);
          console.log(subDate);
          console.log(jsonoobj.tmessage.length);
          jsonoobj.tmessage = '<i>?ƒ??ë°©ì—ê²? ?¥?†Œ?˜‘?˜ë¥? ? œ?•ˆ?•˜?…¨?Šµ?‹ˆ?‹¤</i><br><i>'+subDate+'</i>';
        }
      }
      var realJson = JSON.parse(JSON.stringify(jsonoobj));
      arr.push(realJson);
    }
%>
<div id="pro_data" style="display:none;">
    <ol id='pro_data'>
        ?Œë§¤ì : <%=jprod.seller%> //
        êµ¬ë§¤? : <%=jprod.buyer%> //
        ?ƒ?’ˆë²ˆí˜¸ : <%=jprod.pro_num%><hr>
        ? œëª? : <%=jprod.title%><br>
        ë¶„ë¥˜ : <%=jprod.cate_name%><br>
        ?‚´?š© : <%=jprod.content%><br>
        ê°?ê²? : <%=jprod.price%><br>
        ?’ˆì§? : <%=jprod.p_quality%><br>
        <hr>
        ì§í”Œ? ˆ?´?Š¤ : <br><%=jprod.place_pick%><br>
        ?…ê¸ˆí•  ê°??ƒê³„ì¢Œ : (??êµ¬ì??–‰) 308-29-80376732-8<br>
        <i><small>?…ê¸? ?‹œ ê±°ë˜?ƒ?ƒœê°? ?Œë§¤ì¤‘?—?„œ ê±°ë˜ì¤‘ìœ¼ë¡? ë°”ë?ë‹ˆ?‹¤...</small></i>
  </ol>
</div>

<%for(var i =0; i<arr.length;i++){ %>
  <%if(arr[i].tnickname == 'System'){%>
    <li class="system"><%=arr[i].tnickname%>  :  <%-arr[i].tmessage%></li>
  <%} else if(arr[i].tnickname == nickname){%>
<li class="even"><%=arr[i].tnickname%>  :  <%-arr[i].tmessage%></li>
<%} else {%>
  <li class="odd"><%=arr[i].tnickname%>  : <%-arr[i].tmessage%></li>
  <%}%>
<%}%>

</ul>

</div>
<div id="input-sets">
<form action="">
  <input id="m" class="nullmenu" autocomplete="off"/>
  <button class="nullmenu">Send</button>
</form>
<div class="ui sidebar inverted vertical menu">
  <a class="item" id='room_out'>
    ì±„íŒ…ë°? ?‚˜ê°?ê¸?
  </a>
  <a class="item nullmenu"> 
        <input type="button" id="set_address" style="width:100%;white-space: normal;padding-top:5px;text-align:left;" class="item form-control floating-label nullmenu " onclick="sample4_execDaumPostcode()" value="<%=address%>"/>
      <button id="send_address" class="send">? „?†¡</button>  
  </a>
  <a class="item nullmenu">  
    <input type="text" id="set_date" class="item form-control floating-label nullmenu"  value="<%=datetime%>">
    <button id="send_date" class="send" >? „?†¡</button>
  </a>
    <a class="item nullmenu" id='QRsend'>
    ëª…ì„¸?„œ ? „?‹¬
  </a>
    <%if(nickname == seller){%>
    <a class="item nullmenu" id='buy'>
        ê²°ì œ ëª…ì„¸?„œ ? „?†¡
    </a>
    <%}%>
  
  
</div>
<button id="plusbtn"><b>3+2</b></button>
</div>
<script type="text/javascript" src="http://cdn.socket.io/socket.io-1.0.3.js"></script>
<script>
  $(() => {
    var ref = function(){
      $(document).scrollTop($(document).height());
      window.location.reload();
      $(document).scrollTop($(document).height());
    }
    var road_and_QR = function(){
      var seller = $('#seller').text();
      var buyer = $('#buyer').text();
      var pro_num = $('#pro_num').text();
      for(var i = 0; i < document.getElementsByClassName("qrcode").length; i++){
        var qrcode = new QRCode(document.getElementsByClassName("qrcode")[i], {
        text: "http://39.127.7.47:3000/testQR?pro_num="+pro_num+"&seller="+seller+"&buyer="+buyer,
        width: 350,
        height: 350,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
      });
      }
    }

    road_and_QR();   
    var a = $('#status').text();
    $('#set_date').bootstrapMaterialDatePicker({ format : 'YYYY/MM/DD HH:mm', minDate : new Date() });//ìº˜ë¦°?” - datePickerë¥? ?‹¬?•„ì¤??‹¤.
    
   

    if(a=='out'){
      $('.nullmenu').css("display","none");
    }
    $('#plusbtn').click(function(){
            $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
        });
    $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
    const name = $('#nickname').text();
    const room_id= $('#room_id').text();
    const socket = io();
    let num = room_id;
    let qrCount;
    qrCount = 0;
    socket.emit('joinRoom', num, name);

    socket.on('ref', () => {
      window.location.reload();
    });
    $('#buy').click(function(){
      var tag = $('#pro_data').html();
      $('#messages').append($('<li class="even">').html(name +' : '+tag));//ë²„íŠ¼?? ?ƒ??ë°©ì—ê²Œë§Œ ë³´ì¸?‹¤.
      alert(num, name, tag);
      socket.emit('socket_sendAcc', num, name, tag);
    });
    socket.on('socket_sendAcc', (num, name, tag) => {
      if(name==$('#nickname').text()){
        
      } else{
        $('#messages').append($('<li class="odd">').html(name +' : '+tag));//ë²„íŠ¼?? ?ƒ??ë°©ì—ê²Œë§Œ ë³´ì¸?‹¤.
      }
      $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
    });

    $('#send_address').click(function(){
      if($('#set_address').val()=='?•½?†?¥?†Œ ?„ ? •'){
        alert('?¥?†Œë¥? ì§?? •?•´ ì£¼ì‹œê¸? ë°”ë?‹ˆ?‹¤.');
        return false;
      }
      alert($('#set_address').val()); // ê³ ë¥¸ ?‹œê°? ?•œë²? ?•Œ? ¤ì£¼ê³ 
      var address = $('#set_address').val();
      socket.emit('socket_address', num, address, name); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });
    socket.on('socket_address', (num, address, name, message_id) => {// ?ƒ??ë°©ìœ¼ë¡œë??„° ì±„íŒ…ë°©ì— ?†Œì¼“ë°?´?Š¸ ?‹ ?˜¸ê°? ?˜¨?‹¤ë©? ?‹¤?–‰.
      var buttonSet = "<button class='Ayes'>?ˆ˜?½</button><button class='Ano' value="+message_id+">ê±°ì ˆ</button>";
      if(name==$('#nickname').text()){
        $('#messages').append($('<li class="even">').html(name +' : '+'<i>?ƒ??ë°©ì—ê²? ?¥?†Œ?˜‘?˜ë¥? ? œ?•ˆ?•˜?…¨?Šµ?‹ˆ?‹¤</i><br><i >'+address+'</i>'));//ë²„íŠ¼?? ?ƒ??ë°©ì—ê²Œë§Œ ë³´ì¸?‹¤.
      } else{
        $('#messages').append($('<li class="odd">').html(name +' : '+'?¥?†Œ?˜‘?˜ - '+name + '?‹˜?— ?˜?•´ ?•½?†?¥?†Œê°? ?„ ? •?˜?—ˆ?Šµ?‹ˆ?‹¤ :<br><i class="addressP">'+address+"</i><br>"+buttonSet));//?‹œ?Š¤?…œë©”ì‹œì§? ?•½?†ì§?? •? •ë³´ë?? ë³´ë‚¸?‹¤.
      }
      $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
    });
    $(document).on("click",".Ayes",function(event){
        alert($(event.target).siblings('.addressP').text());
         var addressP = $(event.target).siblings('.addressP').text();
       alert('?•½?† :'+addressP+'?œ¼ë¡? ì§?? •?˜?—ˆ?Šµ?‹ˆ?‹¤.');
       $('#set_address').val(addressP);//? œ?•ˆ?“¤ì¤? ?„ ?ƒ 
      socket.emit('addressYes', addressP,num); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });
    $(document).on("click",".Ano",function(event){// ê±°ì ˆë²„íŠ¼ ?´ë¦??‹œ
      var addressP = $(event.target).siblings('.addressP').text();
      message_id = $(event.target).val();
      alert('?´ë¦??œ ê±°ì ˆë²„íŠ¼?˜ ë©”ì‹œì§? ?•„?´?””' + message_id + '?…?‹ˆ?‹¤');
      alert('?•½?†? œ?•ˆ ('+$(event.target).siblings('.addressP').text()+')?„ ê±°ì ˆ?•˜?…¨?Šµ?‹ˆ?‹¤.');
      socket.emit('addressNo', addressP,num,message_id); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });





    $('#send_date').click(function(){
      if($('#set_date').val()=='?•½?†?‹œê°? ?„ ? •'){
        alert('?‚ ì§œë?? ì§?? •?•´ ì£¼ì‹œê¸? ë°”ë?‹ˆ?‹¤.');
        return false;
      }
      alert($('#set_date').val()); // ê³ ë¥¸ ?‹œê°? ?•œë²? ?•Œ? ¤ì£¼ê³ 
      var date = $('#set_date').val();
      socket.emit('socket_date', num, date, name); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });

//Aê°? ?‚ ì§? ? „?†¡
//Bê°? ?‚ ì§? ?ˆ˜?‹ 
//Bê°? ?ˆ˜?½ë²„íŠ¼ ?´ë¦?
//A,B?˜ DatePicker?˜ ê°’ì´ ?•´?‹¹ ?ˆ˜?½?œ ?‚ ì§œë¡œ ë³?ê²?.
    socket.on('socket_date', (num, date, name, message_id) => {// ?ƒ??ë°©ìœ¼ë¡œë??„° ì±„íŒ…ë°©ì— ?†Œì¼“ë°?´?Š¸ ?‹ ?˜¸ê°? ?˜¨?‹¤ë©? ?‹¤?–‰.
      var buttonSet = "<button class='yes'>?ˆ˜?½</button><button class='no' value="+message_id+">ê±°ì ˆ</button>";
      if(name==$('#nickname').text()){
        $('#messages').append($('<li class="even">').html(name +' : '+'<i>?ƒ??ë°©ì—ê²? ?‹œê°„í˜‘?˜ë¥? ? œ?•ˆ?•˜?…¨?Šµ?‹ˆ?‹¤</i><br><i >'+date+'</i>'));//ë²„íŠ¼?? ?ƒ??ë°©ì—ê²Œë§Œ ë³´ì¸?‹¤.
      } else{
        $('#messages').append($('<li class="odd">').html(name +' : '+'?‹œê°„í˜‘?˜ - '+name + '?‹˜?— ?˜?•´ ?•½?†?¼? •?´ ?„ ? •?˜?—ˆ?Šµ?‹ˆ?‹¤ :<i class="dateP">'+date+"</i><br>"+buttonSet));//?‹œ?Š¤?…œë©”ì‹œì§? ?•½?†ì§?? •? •ë³´ë?? ë³´ë‚¸?‹¤.
      }
      $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
    });
    $(document).on("click",".yes",function(event){
        alert($(event.target).siblings('.dateP').text());
         var dateP = $(event.target).siblings('.dateP').text();
       alert('?•½?† :'+dateP+'?œ¼ë¡? ì§?? •?˜?—ˆ?Šµ?‹ˆ?‹¤.');
       $('#set_date').val(dateP);//? œ?•ˆ?“¤ì¤? ?„ ?ƒ 
      socket.emit('dateYes', dateP,num); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });
    $(document).on("click",".no",function(event){// ê±°ì ˆë²„íŠ¼ ?´ë¦??‹œ
      var dateP = $(event.target).siblings('.dateP').text();
      message_id = $(event.target).val();
      alert('?´ë¦??œ ê±°ì ˆë²„íŠ¼?˜ ë©”ì‹œì§? ?•„?´?””' + message_id + '?…?‹ˆ?‹¤');
      alert('?•½?†?¼?‹œ ? œ?•ˆ ('+$(event.target).siblings('.dateP').text()+')?„ ê±°ì ˆ?•˜?…¨?Šµ?‹ˆ?‹¤.');
      socket.emit('dateNo', dateP,num,message_id); //?„œë²„ë¡œ ? „?†¡?•œ?‹¤.
    });
    
    var func_qr = function(){
      return func_qrcount();
    }
    var func_qrcount = function(){
      qrCount++;
      var seller = $('#seller').text();
      var buyer = $('#buyer').text();
      var pro_num = $('#pro_num').text();
      var tag = '<div class="qrcode"></div><h2>ëª…ì„¸?„œ</h2><br>?Œë§¤ì :'+seller+'<hr>êµ¬ë§¤? :'+buyer+'<hr>?ƒ?’ˆë²ˆí˜¸ :'+pro_num+'<hr><i><small>ëª…ì„¸?„œ ?ƒ?„¸ ?‚´?š©?? QRì½”ë“œ ?¸ì¦? ?›„ ?™•?¸ ê°??Š¥?•©?‹ˆ?‹¤.</small></i>';
      socket.emit('QRsend', num,name,tag);
    }
    socket.on('QRsend', (num1, name1, tag1) => {
      if(name1 == name){
        $('#messages').append($('<li class="even"><div class="qrcode"></div>'));
      }else {
        $('#messages').append($('<li class="odd"><div class="qrcode"></div>'));
      }
      return ref();
    });
    
    //1. qrê°? ?“¤?–´ê°? divë¥? ?ƒ?„±.
    //2. div?˜ ?´?˜?Š¤ ì¤? qrcountë²ˆì§¸ ê°ì²´?— qrì½”ë“œ?ƒ?„±
    //3. qrcount++;
    //4. ?„˜?–´?™”?„?•Œ. ?•„?‹ˆ QRì½”ë“œ?™” ?˜?•œ ?–´?–»ê²? ?•˜ì§?. ?™œ ?‚«?µ?´ë¦??•˜ë©? ë©”ì‹œì§? append?•˜?–?•„ ê·¸ë•Œ db?— ???¥?„ ?•˜?. ?‹¨ QRì½”ë“œ ë³´ë‚¼?•Œ ?ƒ?„±?˜?–´ì§??Š” div?— ?š°ë¦¬ê? ?„£?„? ¤ê³? ?•˜?Š” ê°’ë“¤:(êµ¬ë§¤??Œë§¤ì?ƒ?’ˆë²ˆí˜¸ê°?ê²©ë“±?“±)?„ ?„£?Š”?‹¤.
    $('#QRsend').click(function(){// ?•„ë¬´ê²ƒ?„ ?•„?‹Œ ì¶”ê?ê¸°ëŠ¥?„ ?‹¤?–‰?•˜ë©? ?¼?‹¨ ê·??—¬?š´ ê°•ì•„ì§? ë³´ì—¬ì¤? ?…?…
      $('#messages').append($('<li class="even"><div class="qrcode"></div><img src="images/dog4.png" width="300px" height="300px">'));
        $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
      //socket?˜ emit()?•¨?ˆ˜ê°? ?—†?–´?„œ ? „?†¡?„ ?•ˆ?¨ ?…?…
      return func_qr();
    });

    $('#room_out').click(function(){
      console.log('Room Out // no.'+num+' room //left user name : ', name );
        if (confirm("ì±„íŒ…?‚´?—­?„ ?•¨ê»? ?‚­? œ?©?‹ˆ?‹¤. ? •ë§? ?‚˜ê°??‹œê² ìŠµ?‹ˆê¹??") == true){    //?™•?¸
          socket.emit('room_out', num, name);
        console.log('?šŒ?› '+name+'?‹˜?´ ë°©ë‚˜ê°?ê¸? ?‹¤?–‰?„ ?ˆ˜?½?•˜?…¨?Šµ?‹ˆ?‹¤.');
        window.close();
        }else{   //ì·¨ì†Œ
          console.log('?šŒ?› '+name+'?‹˜?´ ?ƒˆì£? ì·¨ì†Œ?•˜?…¨?Šµ?‹ˆ?‹¤!');
        return false;
      }
    });
    socket.on('room_out', (num, name) => {// ?†Œì¼“ì— room_out?‹ ?˜¸ê°? ?˜¨?‹¤ë©?
      $('.nullmenu').css("display","none");//?ƒ??ë°©ì´ ?—†?‹¤ë©? ?‚¬?š©ë¶ˆê??˜ ë©”ë‰´:?…? ¥?ƒœê·?, sendë²„íŠ¼, ì±„íŒ…ë°©ë‚˜ê°?ê¸°ë?? ? œ?™¸?•œ ì¶”ê?ê¸°ëŠ¥?“¤?„ ?•ˆë³´ì´ê²Œí•œ?‹¤.
      $('#messages').append($('<li class="system">').text('System : '+name + ' ?šŒ?›?‹˜?´ ë°©ì„ ?ƒˆì£¼í•˜?…¨?Šµ?‹ˆ?‹¤.  ' ));//?‹œ?Š¤?…œë©”ì‹œì§? ?ƒ??ë°©ì´ ?‚˜ê°”ë‹¤ê³? ?•Œ? ¤ì¤??‹¤.
      $('#status').text = 'out';//ë°©ì˜ ?ƒ?ƒœë¥? out?œ¼ë¡? ì§?? •
      window.location.search='?room_id='+num+'&talker=out';//url?˜ queryString?„ ?‚˜ê°”ë‹¤ê³? ë°”ê¿”ì¤??‹¤. ?ƒˆë¡œê³ ì¹¨ì´ ?˜?–´?„ outê°’ì„ ê°?ì§?ê¸°ì— .nullMenu?“¤?´ ?—¬? „?ˆ ?•ˆë³´ì—¬ì§„ë‹¤.
    } );
    var i = 0;
    $('form').submit(() => {// Enterì¹ ë•Œë§ˆë‹¤ Send ?• ?•Œë§ˆë‹¤ ?‹¤?–‰
      if($('#m').val()==""){
        alert('ê³µë°±?„ ? „?†¡?•  ?ˆ˜ ?—†?Šµ?‹ˆ?‹¤.');
        return false;
      }else{
      socket.emit('chat message', num, name, $('#m').val());// ?„œë²„ë¡œ  ?‘?„±?, ë°©ë²ˆ?˜¸, ë©”ì‹œì§?ë¥? ? „?‹¬?•œ?‹¤.
      $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
      $('#m').val('');//?…? ¥ì°? ë¹„ì›Œì£¼ê¸°
      return false;
    } //?›?•˜?Š” ?‘?—…ë§? ë§ˆì¹œ ?›„ submit?˜ ?™?‘?„ ë©ˆì¶˜?‹¤.
    });

    /* API ì¢??” ì°¸ì¡°?•´?•¼?•¨. seller_num, buyer_num, room_id, c_address, c_date, pro_numê³? pro_num?— ?•´?‹¹?•˜?Š” production ?…Œ?´ë¸”ì˜ ëª¨ë“  ì»¬ëŸ¼?“¤?„ ë¿Œë ¤ì¤??‹¤.
    êµ¬ë§¤? ?‹‰?„¤?„, ?Œë§¤ì ?‹‰?„¤?„, ê°?ê²?, ?•½?†?¥?†Œ ?˜?Š” ì§?? •ì§í”Œ? ˆ?´?Š¤, ?•½?†?‹œê°?, ,  
    socket.on('chat QR', (name, ) => {// ì±„íŒ…ë°©í…Œ?´ë¸”ì˜ pro_num, seller_num, buyer_num?„ ? „?†¡?•œ?‹¤.???????????????????????????????????
      $('#messages').append($('<li class="even">').text(name + '  :  ' +
        msg));
        
    });*/ 

    
    socket.on('chat message', (name, msg) => {// ?†Œì¼“ì— ?‹ ?˜¸ê°? ?˜¤ë©? chat message ê¸°ëŠ¥ ?‹¤?–‰.
      if(name == $('#nickname').text()){//?‚ ?•„?˜¨ ë©”ì‹œì§??˜ ?´ë¦„ì´ ?„¸?…˜?˜ ?‹‰?„¤?„ê³? ê°™ë‹¤ë©?
      $('#messages').append($('<li class="even">').text(name + '  :  ' +
        msg));}//?š°ì¸¡ì— ?œ„ì¹˜í•œ?‹¤. ?‚´ê°??“´ë©”ì‹œì§?
      else{//?•„?‹ˆ?¼ë©? ì¢Œì¸¡?— ?œ„ì¹˜í•œ?‹¤. ?‚¨?´?“´ë©”ì‹œì§?
        $('#messages').append($('<li class="odd">').text(name + '  :  ' +
        msg));
      }
        console.log('chat message' + name + msg);
        $(document).scrollTop($(document).height()); // ?Š¤?¬ë¡? ê°??¥?•„?˜ë¡? ?‚´ë¦?
    });
  });
  function sample4_execDaumPostcode() {
  daum.postcode.load(function(){
          new daum.Postcode({
            oncomplete : function(data) {
              // ?Œ?—…?—?„œ ê²??ƒ‰ê²°ê³¼ ?•­ëª©ì„ ?´ë¦??–ˆ?„?•Œ ?‹¤?–‰?•  ì½”ë“œë¥? ?‘?„±?•˜?Š” ë¶?ë¶?.
              // ?„ë¡œëª… ì£¼ì†Œ?˜ ?…¸ì¶? ê·œì¹™?— ?”°?¼ ì£¼ì†Œë¥? ?‘œ?‹œ?•œ?‹¤.
              // ?‚´? ¤?˜¤?Š” ë³??ˆ˜ê°? ê°’ì´ ?—†?Š” ê²½ìš°?—” ê³µë°±('')ê°’ì„ ê°?ì§?ë¯?ë¡?, ?´ë¥? ì°¸ê³ ?•˜?—¬ ë¶„ê¸° ?•œ?‹¤.
              var addr;
              var roadAddr = data.roadAddress; // ?„ë¡œëª… ì£¼ì†Œ ë³??ˆ˜
              var extraRoadAddr = ''; // ì°¸ê³  ?•­ëª? ë³??ˆ˜
              // ë²•ì •?™ëª…ì´ ?ˆ?„ ê²½ìš° ì¶”ê??•œ?‹¤. (ë²•ì •ë¦¬ëŠ” ? œ?™¸)
              // ë²•ì •?™?˜ ê²½ìš° ë§ˆì?ë§? ë¬¸ìê°? "?™/ë¡?/ê°?"ë¡? ??‚œ?‹¤.
              if (data.bname !== '' && /[?™|ë¡?|ê°?]$/g.test(data.bname)) {
                extraRoadAddr += data.bname;
              }
              // ê±´ë¬¼ëª…ì´ ?ˆê³?, ê³µë™ì£¼íƒ?¼ ê²½ìš° ì¶”ê??•œ?‹¤.
              if (data.buildingName !== '' && data.apartment === 'Y') {
                extraRoadAddr += (extraRoadAddr !== '' ? ', '
                    + data.buildingName : data.buildingName);
              }
              // ?‘œ?‹œ?•  ì°¸ê³ ?•­ëª©ì´ ?ˆ?„ ê²½ìš°, ê´„í˜¸ê¹Œì? ì¶”ê??•œ ìµœì¢… ë¬¸ì?—´?„ ë§Œë“ ?‹¤.
              if (extraRoadAddr !== '') {
                extraRoadAddr = ' (' + extraRoadAddr + ')';
              }
              if (data.userSelectedType === 'R') { // ?‚¬?š©?ê°? ?„ë¡œëª… ì£¼ì†Œë¥? ?„ ?ƒ?–ˆ?„ ê²½ìš°
                    addr = data.roadAddress;
                } else { // ?‚¬?š©?ê°? ì§?ë²? ì£¼ì†Œë¥? ?„ ?ƒ?–ˆ?„ ê²½ìš°(J)
                    addr = data.jibunAddress;
                }
              // ?š°?¸ë²ˆí˜¸?? ì£¼ì†Œ ? •ë³´ë?? ?•´?‹¹ ?•„?“œ?— ?„£?Š”?‹¤.
              //document.getElementById('zip_code').value = data.zonecode;
              //document.getElementById("set_address").value = roadAddr;
              document.getElementById("set_address").value = addr;
            }
          }).open();
       
      }); }
</script>

</body>
</html>